<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name></display-name>
  <servlet>
    <servlet-name>VaccineServlet</servlet-name>
    <servlet-class>com.health.vaccine.VaccineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VaccineServlet</servlet-name>
    <url-pattern>/add_vaccine</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>homeServlet</servlet-name>
    <servlet-class>com.health.vaccine.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddVaccineServlet</servlet-name>
    <servlet-class>com.health.vaccine.AddVaccineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVaccineServlet</servlet-name>
    <url-pattern>/add_vaccine_data</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DistributeVaccinesServlet</servlet-name>
    <servlet-class>com.health.vaccine.DistributeVaccinesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DistributeVaccinesServlet</servlet-name>
    <url-pattern>/distribute_vaccines</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookingForm</servlet-name>
    <servlet-class>org.health.booking.BookingForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingForm</servlet-name>
    <url-pattern>/booking_form</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MakeBooking</servlet-name>
    <servlet-class>org.health.booking.MakeBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeBooking</servlet-name>
    <url-pattern>/make_booking</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckBooking</servlet-name>
    <servlet-class>org.health.booking.CheckBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckBooking</servlet-name>
    <url-pattern>/check_booking</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>ViewPatients</servlet-name>
    <servlet-class>org.health.administration.ViewPatients</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPatients</servlet-name>
    <url-pattern>/view_patients</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>RegisterPatientForm</servlet-name>
    <servlet-class>org.health.administration.RegisterPatientForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterPatientForm</servlet-name>
    <url-pattern>/register_patients</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RegisterPatient</servlet-name>
    <servlet-class>org.health.administration.RegisterPatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterPatient</servlet-name>
    <url-pattern>/patient_register</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PatientCertificateServlet</servlet-name>
    <servlet-class>org.health.administration.PatientCertificateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientCertificateServlet</servlet-name>
    <url-pattern>/patient_certificate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddHealthCenterForm</servlet-name>
    <servlet-class>org.health.health.AddHealthCenterForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHealthCenterForm</servlet-name>
    <url-pattern>/add_health_center</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddHealthCenter</servlet-name>
    <servlet-class>org.health.health.AddHealthCenterData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHealthCenter</servlet-name>
    <url-pattern>/add_health_center_data</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CentersHome</servlet-name>
    <servlet-class>org.health.health.CentersHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CentersHome</servlet-name>
    <url-pattern>/center_home</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>HealthCenterDetails</servlet-name>
    <servlet-class>org.health.health.HealthCenterDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HealthCenterDetails</servlet-name>
    <url-pattern>/center_details</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UpdateCenterDetails</servlet-name>
    <servlet-class>org.health.health.UpdateCenterDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCenterDetails</servlet-name>
    <url-pattern>/update_center</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  <servlet>
    <servlet-name>BookerHomeServlet</servlet-name>
    <servlet-class>org.health.administration.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookerHomeServlet</servlet-name>
    <url-pattern>/booker_home</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>BookerFormServlet</servlet-name>
    <servlet-class>org.health.administration.BookerFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookerFormServlet</servlet-name>
    <url-pattern>/booker_form</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>BookerRegistrationServlet</servlet-name>
    <servlet-class>org.health.administration.BookerRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookerRegistrationServlet</servlet-name>
    <url-pattern>/register_booker</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdminFormServlet</servlet-name>
    <servlet-class>org.health.administration.AdminFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminFormServlet</servlet-name>
    <url-pattern>/admin_form</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdminRegistrationServlet</servlet-name>
    <servlet-class>org.health.administration.AdminRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRegistrationServlet</servlet-name>
    <url-pattern>/register_admin</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AuthenticationFormServlet</servlet-name>
    <servlet-class>org.health.administration.AuthenticationFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticationFormServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AuthenticationServlet</servlet-name>
    <servlet-class>org.health.administration.AuthenticationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticationServlet</servlet-name>
    <url-pattern>/authenticate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PatientEmailServlet</servlet-name>
    <servlet-class>org.health.administration.PatientEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientEmailServlet</servlet-name>
    <url-pattern>/patient_email</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdminHomeView</servlet-name>
    <servlet-class>org.health.administration.AdminHomeView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHomeView</servlet-name>
    <url-pattern>/admin_home_view</url-pattern>
  </servlet-mapping>
</web-app>